:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

ul {
    list-style-type: none
}

li {
    display: flex;
}

details>summary {
    font-size: 16px;
    font-family: "Playfair Display";
    font-weight: bold;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;

}

summary::after {

    content: ' ►';
}

details[open] summary:after {

    content: " ▼";
}

details {
    text-align: left;
    border-bottom: 1px;
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    padding: 0.5em;

    img {
        margin-right: 1rem;
        border-radius: 8px;
    }
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

form {
    margin: 1em 0;

    input {
        background-color: #D9D9D9;
    }
}



h1 {
    font-size: 24px;
    font-family: "Playfair Display";
    font-weight: bold;

    img {
        padding-right: 1em;
    }
}

h4 {
    font-family: "Playfair Display";
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: black;
}

.buttonrow{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.continue {
   
}

button {
    border-radius: 40px;
    border-style: solid;
    border-color: black;
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
   
    width: 166px;
}

.onboarding {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: normal;
    color: black;
    margin: 3rem;
    padding: 0;

}


p {
    font-family: "Open Sans";
    font-size: 14px;
    color: black;
    margin: 0;
    padding: 0;
}

.login{
    width: 345px;
    margin-bottom: 1rem;
}

.or{
    margin-bottom: 1rem;
    span{
        margin: 0 1em;
    }
}

#app {
    max-width: 398px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}


button:hover {
    border-color: #646cff;
    color: white;
    background-color: #4D861F;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}